<header ng-show="userId !== ''">
    <h1>
        <a href="/"><img src="img/petsure-logo.png" /></a>
    </h1>
    <div class="pull-right menu-controls">
        <a class="header-icon" href="javascript:void(0)" ng-click="sidebarOpened = true;" aria-label="Open settings sidebar">
            <i class="fa fa-gear"></i>
            <span class="header-icon-desc">settings</span>
        </a>
    </div>
    <h2>
        <span class="board-name-container" ng-click="editingBoardName=true;newBoardName=boardId;">
            <span id="board-name" class="board-name" ng-show="!editingBoardName">{{boardId}}</span>
            <i class="fa fa-pencil" ng-show="!editingBoardName"></i>
        </span>
        <span ng-show="editingBoardName" class="editing-board-name">
            <input title="edit the board name" ng-model="newBoardName" focus></input>
            <span class="editing-board-name-controls">
                <button ng-click="changeBoardName(newBoardName);editingBoardName=false;" class="success-button">Save</button>
                <button ng-click="editingBoardName=false;" class="cancel-button">Cancel</button>
            </span>
        </span>
    </h2>
</header>
