<div class="home" ng-show="userId === ''" ng-cloak>
  <!--<div class="funretro-pro">
    <p>
      <strong>Funretro.io</strong> New premium version with Login, Teams, Dashboard and more Security.
      <a class="button" href="https://funretro.io/" target="_blank">Check it out</a>
    </p>
  </div>-->
  <section>
    <h1>
      <img src="img/petsure-logo.png" alt="PetSure" />
      <span>Retrospective Board</span>
    </h1>
    <button ng-click="modalService.openAddNewBoard(this)">
      <i class="fa fa-plus"></i>&nbsp;New Board
      </button>
  </section>
  
</div>
