<div ng-show="userId !== ''" class="menu">
  <div class="menu-filters">
    <label for="sortField" class="menu-controls">Sort by</label>
    <select id="sortField" title="sort fields by" ng-model="sortField" ng-change="updateSortOrder()">
      <option value="date_created">Created date</option>
      <option value="votes">Votes</option>
    </select>
  </div>
  <div class="menu-filters">
    <label for="cardTextFilter" class="menu-controls">Filter Cards</label>
    <input id=cardTextFilter class="filter-message" placeholder="Enter filter text" ng-model="filterMessage" aria-label="Filter your cards" />
    <span ng-show="voteService.remainingVotes(userId, maxVotes, messages) < maxVotes" class="remaining-votes">Remaining votes: <strong>{{ voteService.remainingVotes(userId, maxVotes, messages) }}</strong>
      <span class="null-blank-space">&nbsp;</span>
      <span class="settings" ng-click="modalService.openVoteSettings(this)"><i class='fa fa-pencil fa-md'></i></span>
    </span>
  </div>
</div>